In [1]:
import pandas as pd 
import os
file= "Resources/purchase_data.csv"
data= pd.read_csv(file)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#total number of players
total_players=data["SN"]
total_players.nunique()

576

In [8]:
#unique items
unique_item=data["Item Name"]
unique_item.nunique()
#avg price
price=data["Price"]
price.mean()
#total number of purchases
total_purch=data['Item Name']
len(total_purch)
#total rev

780

In [11]:
#percentage and count of male players
male_players=
    

#percentage and count of female players

#other

SyntaxError: invalid syntax (<ipython-input-11-ea81c35c2c94>, line 4)