In [39]:
import pandas as pd 
import os
import numpy as np
file= "Resources/purchase_data.csv"
data= pd.read_csv(file)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [40]:
#unique items
unique_item=data["Item Name"].nunique()
#avg price
price=data["Price"].mean()
#total number of purchases
total_purch=data['Item Name']
len(total_purch)
#total rev 
revenue=data["Price"].sum()
revenue

2379.77

In [41]:
#I worked with Dave to run this section, I explained everything and why it was done, in the way it was done.
#looking at the number of unique players in the data frame 
total_players = data["SN"].nunique()
#storing them in the data fram for future use
total_players_df = pd.DataFrame([{"Total Players" : totalPlayers}])
#printing the data frame
total_players_df

   Total Players
0            576

In [60]:
#create a new data frame and search through the original to find the variables needed for this equation
gender_df = data.loc[:, ["SN", "Gender",]]
#drop the duplicates so the total is correct
gender_df = gender_df.drop_duplicates(["SN"])
#group the data frame together based on the gender, use as_index to not allow the ID to be set as the index, .agg will aggregate like data
gender_df = gender_df.groupby(['Gender'], as_index=False).agg({'SN' : 'count'})
#sorting values in the data frame, descending, and resetting the index after each new gender
gender_df = gender_df.sort_values("SN", ascending=False).reset_index(drop=True)
#creating a new column in the data to show the percentage of each gender
#using the screennames and total players totals to get a percentage, and then formatting it to look like a percentage
gender_df['Percentage of Players'] = (gender_df["SN"] / total_players * 100).map("{:.2f}%".format)
#renaming the column header to that in the instructions
gender_df = gender_df.rename(columns={"SN": "Total Count"})
#setting what variable is in the rows
gender_df = gender_df.set_index("Gender")
#displaying the data frame
gender_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [62]:
age_df= data.copy()
#dropping the duplicates to keep the total a true total
age_df = age_df.drop_duplicates(["SN"])
#dropping the excess info to make the end result only the variables needed
age_df=age_df.drop(["Item Name" ,'Item ID' ,"Gender" ,"Purchase ID", 'Price'], axis=1)
bins=[0, 9, 14, 19, 24, 29, 34, 39, age_df['Age'].max()]
label=['>10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
#cutting the info into bins, adding labels, and including the lowest value
age_df['Age Group']= pd.cut(age_df['Age'], bins= bins, labels= label, include_lowest = True)

In [63]:
#grouping the data by age group and using the screen names as the total for each age group
age_df = age_df.groupby(['Age Group']).agg({'SN' : 'count'})
#adding the new column and the percentage data to the data frame
age_df['Percentage of Players'] = (age_df["SN"] / total_players * 100).map("{:.2f}% ".format)
# rename the column based on the instructions 
age_df = age_df.rename(columns={"Age": "Percentage of Players"})
age_df

            SN Percentage of Players
Age Group
>10         17                2.95%
10-14       22                3.82%
15-19      107               18.58%
20-24      258               44.79%
25-29       77               13.37%
30-34       52                9.03%
35-39       31                5.38%
40+         12                2.08%

In [129]:
# female_spending=0
# male_spending=0
# other_spending=0
gender_spending_df= data.copy()
gender_spending_df= gender_spending_df.drop_duplicates(['SN'])
gender_spending_df.drop(["Item Name" ,'Item ID' ,"Age" ,"Purchase ID"], axis=1)
#gender=gender_spending_df['Gender']
female= gender_spending_df.loc[gender_spending_df['Gender'] == "Female"]
male= gender_spending_df.loc[gender_spending_df["Gender"]=='Male']
other=gender_spending_df.loc[gender_spending_df["Gender"]=="Other / Non-Disclosed"]

# if gender_spending_df['Gender'] == gender_spending_df['Gender':"Female"]:
#         female_spending+=1
# elif gender_spending_df['Gender'] == 'male':
#         male_spending+=1
# elif gender_spending_df['Gender'] == 'other':
#         other_spending+=1

# gender_spending_df['Female Spending']= female_spending.map
# gender_spending_df['Male Spending']=male_spending.map
# gender_spending_df['Other/ Non-Disclosed Spending']= other_spending.map

# gender_spending_df=pd.DataFrame({""})
# gender_spending_df.set_index("Gender")

In [130]:
male.mean()
female.mean()
other.mean()
avg_purchase_male = male['Price']
avg_purchase_female = female['Price']
avg_purchase_other = other['Price']
#adding another column to the chart to show the new calculations and variables
new_purchase_dictionary = pd.DataFrame({'Average Purchase Price' : [avg_purchase_male, avg_purchase_female, avg_purchase_other]})
gender_spending_df["Average Purchase Price"] = new_purchase_dictionary

NameError: name 'Gender' is not defined